

body {
  background-color: darkgreen;
}

h3 {
  color: black;
  font-size: 200%;
  text-decoration-line: underline overline;
  text-decoration-color: purple;
  text-decoration-style: solid;
  word-spacing: 10%;
}
img {
  width: 50%;
  border-radius: 8px;
}

img:hover {
  border: dotted green;
  width: 25%;
  transform: scaleX(-.5);
  length: 25%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

